<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>878204280847-bjksvt12c6iad38jvkllu67nkm6jdtvd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.878204280847-bjksvt12c6iad38jvkllu67nkm6jdtvd</string>
	<key>API_KEY</key>
	<string>AIzaSyCcv0ptAbHpSkOZ27thFizAh6f0imbWBpE</string>
	<key>GCM_SENDER_ID</key>
	<string>878204280847</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gtkFlutter</string>
	<key>PROJECT_ID</key>
	<string>fir-flutter-codelab-111ab</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-flutter-codelab-111ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:878204280847:ios:234fca9e34339edea7c37a</string>
</dict>
</plist>